body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background: #FF900E; 
    border-radius: 8px; 
    padding: 20px 25px;
    color: #ffff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin: 30px;
    font-size: 1rem;
    font-weight: 500;
    
}
nav li a{
    text-decoration: none;
    color: #424242;

    
}

.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    
    
}
/*banner style*/
.banner{
  

}
.banner-content{

    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
}
.banner-title{
     font-size: 4rem;
     font-weight: 700;
     color: #131313;
}
.banner-desciption{
    font-size: 1rem;
    font-weight: 400;

}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/*main style*/
 main{
    max-width: 1440px;
    margin: 70px auto;
 }
.teams-container{
    display: flex;
    align-items: center;
    margin-top: 85px;
}
.teams-container-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-container-content{
    padding: 0 70px;
}
.teams-taitle, .quick{
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}
.quick-list{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.text-fatures{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/*Responsibe media header*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-container-img{
        grid-template-columns:1fr;
        
    }
    .teams-container-content{
        padding: 0 20px;
    }
    
    
    
}
/*Medium Device*/
@media screen and (min-width:567px) and (max-width:960px) {
    nav, .teams-container{
        flex-direction: column;
        padding: 50px;
    }
   
    
}